body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

h1 {
  font-size: 40px;
}

h3 {
  color: #95a5a6;
  font-weight: 400;
}

h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.centered {
  text-align: center;
}

/* Links */
a {
  color: #3498db;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Navbar */
.navbar-default {
  background-color: #3498db;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-toggle {
  background: #fff;
}

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Forms */
.form-control {
  height: 42px;
  font-size: 18px;
  width: 280px;
}

i {
  margin: 8px;
  color: #3498db;
}

/* Header */
#headerwrap {
  background-color: #3498db;
  margin-top: -20px;
  padding-top: 200px;
  min-height: 650px;
  width: 100%;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  #headerwrap {
    padding-top: 100px;
  }

  #headerwrap h1 {
    margin-top: 10px;
    font-size: 36px;
  }
}

/* Contact */
#contact {
  padding: 40px 0;
}

.contact-form label {
  color: #999;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
  width: 100%;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #f0ad4e;
  border: 0;
  padding: 12px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #fabf6b;
}

/* Copyrights */
#copyrights {
  background: #3498db;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #fff;
}

.credits {
  color: #fff;
}


.team-icons {
  margin-top: 15px;
}

.team-icons i {
  font-size: 18px;
  margin: 0 10px;
  color: #3498db;
  cursor: pointer;
  transition: color 0.3s ease;
}

.team-icons i:hover {
  color: #7b7b7b;
}
